.carMakerChart {
  height: 100vh;
}

.countryChart {
  height: 100vh;
  margin-top: 50px;
  margin-bottom: 100px;
  border-bottom: 1px solid rgb(173, 170, 170);
}

.carAgeChart {
  margin-top: 80px;
}
