.carDetails {
  width: 100%;
  background-color: rgb(218, 223, 223);
}

.carDetails_heading {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.carDetails_heading > h2 {
  padding: 20px;
}

.carDetails_maker {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.carDetails_maker > h3 {
  display: flex;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  background-color: aliceblue;
  width: 100%;
}

.isActiveCarDetails {
  /* background-color: black; */
  color: black;
}
