.header {
  background-color: rgb(234, 234, 234);
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerHome {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active {
  background-color: black;
  color: white !important;
}

.headerHome > a {
  text-decoration: none;
  padding: 0.3rem 0.8rem;
  border-radius: 5px;
  color: black;
  font-weight: 500;
  font-size: 1.2rem;
  margin: auto 1rem;
}

.headerHome > a:hover {
  background-color: rgb(204, 200, 200);
}
