.header {
  grid-area: header;
  height: 10vh;
}
.sidebar {
  grid-area: menu;
  height: 90vh;
}
.App_component {
  grid-area: main;
  height: 90vh;
  overflow: auto;
}

.App {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main';
}
