@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');



.header {
  grid-area: header;
  height: 10vh;
}
.sidebar {
  grid-area: menu;
  height: 90vh;
}
.App_component {
  grid-area: main;
  height: 90vh;
  overflow: auto;
  width: 100%;
}

.App {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main main main';
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif; 
}
